<p id="notice"><%= notice %></p>

<html>

<head>
  <title>20 eyes dot org</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= link_to 'Show', blog %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</body>
</html>
